/* Main Styles for whole website: Fonts, sizes, alignment, etc */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    margin: 0%;
    background-image: linear-gradient(to bottom right, #e6e0c4, #aaebe6);
    margin-bottom: 1rem;
}

h1 {
    text-align: center;
    margin-top: 2.5rem;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}

h3 {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

/* CODE PROJECTS */


#wholecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#imgcontainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
}

#textcontainer {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    list-style-position: inside;
    text-align: left;
    max-width: 80%;
}

a {
    word-break: break-all;
}







/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to right, #aaebe6, #e6e0c4);
    color: black;
    text-align: center;
    border: 2px solid black;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    border: 2px solid black;
    background-image: linear-gradient(to right, #aaebe6, #e6e0c4); 
}

/* Logo */

#logo {
    width: 300px;
    display: flex;
    margin: 1rem;
}

/* Navigation Bar */
a {
    color: black;
}

nav {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;    
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    background-image: linear-gradient(to right, #ffcc89, #e07f00);
    border-radius: 15px;
}

nav li {
    padding: 2rem;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;  
    white-space: nowrap;   
}

nav li:hover {
    background-color: #fe5347;
    border-radius: 15px;
    transition: 0.5s;
    border: solid black;
    
}

li.active {
    border: 5px solid #fe5347;
    border-radius: 15px;
    
}

/* Videos */
.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

article {
    padding: 1rem;
    
}

h2 {
    text-align: center;
}

.video-description {
    text-decoration: none;
}

iframe {
    margin-bottom: 1rem;
}

/* Tablet Styling */
@media screen and (min-width: 481px) and (max-width:825px){
    #wholecontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #imgcontainer {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 1rem;
    }
    
    #textcontainer {
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: Helvetica, sans-serif;
        list-style-position: inside;
        text-align: left;
        max-width: 80%;
    }




    #logo {
        padding-top: 20px;
    }
    
    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 1rem;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;
        background-color: #fea32d;
        border-radius: 15px;
        padding: 0;
        
    }  

    nav li {
        font-size: 2.5rem;
        font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
        white-space: nowrap; 
        padding: 1.4rem;  
    }

    .about-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);  
    }

    .about-item-1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    
    .about-item-2 {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    
    .about-item-3 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    
    .about-item-4 {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    main {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
    } 

    /* main article {
        width: 40%;
        margin-bottom: 2rem;
    } */

    #description {
        width: 90%;
    }
   
}

/* Mobile Styling */

@media screen and (max-width: 480px){
    #wholecontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #imgcontainer {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 1rem;
    }
    
    #textcontainer {
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-family: Helvetica, sans-serif;
        list-style-position: inside;
        text-align: left;
        max-width: 80%;
    }




   header {
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    #logo {
        display: flex;
        width: 60%;
    }

    nav {
        display:flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 1rem 0 1rem;
    }

    nav ul {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;
        background-color: #fea32d;
        border-radius: 15px;
        padding: 0;
        
    }  

    nav li {
        font-size: 1.5rem;
        font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
        white-space: nowrap; 
        padding: 0.6rem;  
    }

    iframe {
        width: 100%;
    }

    #logo {
        width: 50%;
        display: flex;
        margin: 0;
    }

    main {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
    } 

    main article {
        width: 90%;
        margin-bottom: 2rem;
    }

    #description {
        width: 90%;
    }

#homepage {
    display: flex;
    align-items: center;
}

#homepage p {
    padding: 1rem;
    font-size: 1.2rem;
}

#me {
    width: 50%;
    border-radius: 50%;
    margin: 1rem;
}

#description {
    padding: 1rem;
}

.blogs li {
    padding: 2rem;
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;  
    white-space:inherit; 
}

.blogimg {
    width: 100%;
    float: left;
    margin-right: 1rem;
    border: solid black;    
}
}
